<?xml version="1.0" encoding="UTF-8"?><widget height="500" id="i18nltr28:" width="500" xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets">

    <content dir="ltr" encoding="iso-8859-1" src="index.htm"/>
    <name>i18nltr28</name>
<tizen:application id="aipmO3epFo.i18nltr28" package="aipmO3epFo" required_version="2.1"/></widget>